
# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# IDE / Editor folders
.vscode/
.idea/

# Mac system files
.DS_Store

# Vim Undo Files
*.un~

# dotenv environment variables file
.env
